{% extends "base.html" %}
{% block titulo %}Inicio Secion{% endblock %}
{% block seccion %}Inicio Sesion{% endblock %}
{% block contenido %}
		<section>
			<h2>Registro de usuario</h2>
			<p>Por favor, completa el siguiente formulario para crear una cuenta:</p>
			<form>
				{% csrf_token %}
				<label for="username">Nombre de usuario:</label>
				<input type="text" name="username" required><br><br>
				<label for="email">Correo electrónico:</label>
				<input type="email" name="email" required><br><br>
				<label for="password1">Contraseña:</label>
				<input type="password" name="password1" required><br><br>
				<label for="password2">Repetir contraseña:</label>
				<input type="password" name="password2" required><br><br>
				<input type="submit" value="Registrarse">
			</form>
		</section>
	{% endblock%}
	
